.cl1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    word-spacing: 20px;
    padding: 20px;
    
}
span:hover{
    background-color: coral;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
}
a{
    color: white;
    text-decoration: none;
}